.colorReference {
  height: var(--note-color-size);
  width: var(--note-color-size);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.note {
  position: relative;
}

.activeNote {
  background-color: black;
}

.note:hover {
  cursor: pointer;
  background-color: var(--note-background-hover);
  box-shadow: var(--box-shadow);
}

.editDeleteButtons {
  position: absolute;
}

.notesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}