.marker {
  height: var(--marker-size);
  width: var(--marker-size);
  background-color: var(--marker-color);
  opacity: 0.5;
  position: absolute;
  z-index: 9;
}

.marker:hover {
  /* background-color: aqua; */
  opacity: 0.3;
  cursor: pointer;
}

.activeMarker {
  opacity: 0.1;
}