.colorReference {
  height: var(--note-color-size);
  width: var(--note-color-size);
}

.note {
  position: relative;
}

.note:hover {
  cursor: pointer;
  background-color: var(--note-background-hover);
}

.editDeleteButtons {
  position: absolute;
}