.colorReference {
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  height: var(--color-reference-large);
  width: var(--color-reference-large);
}

@media screen and (max-width: 500px) {
  .colorReference {
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    height: var(--color-reference-small);
    width: var(--color-reference-small);
  }
}

.colorReferenceForNote {
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  height: var(--color-reference-small); 
  width: var(--color-reference-small);
}

.small {
  height: var(--color-reference-small);
  width: var(--color-reference-small);
}

.large {
  height: var(--color-reference-large);
  width: var(--color-reference-large);
}