.page {
  /* width: var(--page-width); */
  position: relative;
}

.header {
  position: fixed;
  z-index: 10;
}

.canvasContainer {
  height: 80%;
}

.canvas {
  height: auto;
  width: 100%;
}

.colorReference {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.pageContents {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 500px ) {
  .pageContents {
    flex-direction: column;
  }
}

.notesSection {
  padding-inline: 30px;
}
