.container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.errors {
  display: flex;
  flex-direction: column;
  align-items: center;
}