.studyInformation {
  display: flex;
  flex-direction: column;

  /* i think this is needed? */
  /* overflow-y: scroll; */
  height: 100svh;
  overflow-wrap: break-word;
  max-width: 50%;
  min-width: 300px;
}

.mobile {
  max-width: 100%;
}