.noteMarker {
  height: var(--marker-size);
  width: var(--marker-size);
  background-color: var(--marker-color);
  opacity: var(--marker-default-opacity);
  position: absolute;
  z-index: 9;
  border-radius: 5px;
}

.positionMarker {
  height: var(--marker-size);
  width: var(--marker-size);
  opacity: var(--marker-default-opacity);
  z-index: 9;
  position: absolute;
  border: 2px solid var(--marker-color);
  border-radius: 5px;
}

.noteMarker:hover {
  /* background-color: aqua; */
  opacity: var(--marker-hover-opacity);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border-radius: 0;
}

.activeMarker {
  opacity: var(--marker-hover-opacity);
  border-radius: 0;
}