.noteMarker {
  height: var(--marker-size);
  width: var(--marker-size);
  background-color: var(--marker-color);
  border-bottom: var(--marker-border);
  opacity: var(--marker-default-opacity);
  position: absolute;
  z-index: 9;
  border-radius: 5px;
  cursor: pointer;
}

.positionMarker {
  height: var(--marker-size);
  width: var(--marker-size);
  opacity: var(--marker-default-opacity);
  z-index: 9;
  position: absolute;
  background-color: var(--marker-color);
  border-bottom: var(--marker-border);
  border-radius: 5px;
}

.noteMarker:hover {
  opacity: var(--marker-hover-opacity);
  box-shadow: var(--box-shadow);
  border-radius: 0;
  height: var(--active-marker-size);
  width: var(--active-marker-size);
}

.activeMarker {
  opacity: var(--marker-hover-opacity);
  border-radius: 0;
  border: white 1px solid;
}