.studyInformationContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  min-width: 300px;
}

.studyInformationContent {
  position: fixed;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .studyInformationContainer {
    max-width: 100%;
  }
}
.mobile {
}