.studyInformationContainer {
  flex: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.studyInformationContent {
  position: fixed;
  margin-inline: 10px;
  /* Awkward fix for position:fixed; set width manually */
  width: 18%;
}

@media screen and (max-width: 500px) {
  .studyInformationContainer {
    max-width: 100%;
  }

  .studyInformationContent {
    position: relative;
    margin-inline: 0px;
    width: 100%;
  }
}

.topRow {
  margin-bottom: 10px;
}