.createStudyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 500px) {
  .form {
    width: 400px;
  }
}

.uploadedImageContainer {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.placeholderImage {
  background-image: linear-gradient(#565656, #2d2d2d);
  display: block;
  height: 100%;
  width: 100%;
}

.uploadedImage {
  width: 100%;
  max-height: 80svh;
  overflow-y: hidden;
}

.labelAsImageUploadInput {
  background-color: aliceblue;
  height: 2.2rem;
  padding: 5px;
  cursor: pointer;
  background-color: var(--button-background);
  cursor: pointer;
  transition: background-color 0.2s;
}

.labelAsImageUploadInput:hover {
  background-color: var(--button-hover-background);
}