.loading {
  width: 100px;
  height: 100px;
  color: white;
}

.homepageLoadingContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.subtext {
  color: var(--sub-text-color);
  font-size: 95%;
}