.addNoteContainer {
  display: flex;
  flex-direction: column;
  background: var(--container-background-color);
  padding: 10px;
  gap: 10px;
}

.topRow {
  display: flex;
  justify-content: space-between;
}