.canvasContainer {
  height: 80%;

  position: relative;
}

.canvas {
  height: auto;
  width: 100%;
  /* position: relative; */
}

.colorReference {
  height: 20px;
  width: 20px;
}

.test {
  height: var(--marker-size);
  width: var(--marker-size);
  background-color: aqua;
  position: absolute;
}

.grayscale {
  filter: grayscale(1);
}