.canvasContainer {
  height: 80%;
  position: relative;
}

.canvas {
  height: auto;
  width: 100%;
  transition: filter 0.3s;
}

.colorReference {
  height: 20px;
  width: 20px;
}

.grayscale {
  filter: grayscale(1);
}